/* MEU CSS BASEADO NO TEAMPLATE RESUME DO BOOTSTRAP */

body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #ffffff;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: unset;
  color: #ffffff;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: #684639;
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #684639;
  color: #ecd66b !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}
.background-my {
  background: url(../img/facil.jpg);
  background-size: cover;
}
.social-icons a:hover {
  background-color: #BD5D38;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #ecd66b;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.3rem solid #ffffff
  }
  /* QUERO COLOCAR A BORDA 3D */
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

.positioninicial {
  float: right;
  margin-top: 0%;
}

.pastel {
  color: #e6be87;
}

.back-pastel {
  background-color: #e6be87;
}

.logo {
  margin-bottom: 1.5rem!important;
  max-width: 13rem !important;
  max-height: 13rem !important;
}

.sombra {
  text-shadow: #000000a8 0.1em 0.1em 0.2em;
  margin-right: 50%;
}

.sombra-semmargem {
  text-shadow: #000000a8 0.1em 0.1em 0.2em;
}

.sombra-semmargem2 {
  text-shadow: #ffffff 0.1em 0.1em 0.2em;
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #e6be87 !important;
}

.pastelmarrom {
  background-color: #684639
}

.text-primary {
  color:#0B0E12 !important;
}

a {
  color: #BD5D38;
}

a:hover, a:focus, a:active {
  color: #A7A08C !important;
}

.fundo {
  background-color: #00000070
}

.corlinknav {
  color: #684639 !important;  
}

.fontes2 {
  color: white;
  text-shadow: #000000a8 0.1em 0.1em 0.2em;
}

.boxdesc {
  background: rgba(0, 0, 0, 0.5);
}

.background-middle {
  background: url(../img/back-middle.jpeg);
  background-size: cover;
}

.fontetrab {
  color: #684639;
  text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.backtrab {
  background: white;
}

.margesq {
margin-left: 50%;
}

.bg-light {
  background-color: #f8f9fa !important;
}
  .py-5 {
  padding-top: 2rem !important;
}
.lista-linha li{
  display: inline-block;
}

.mgtop {
  margin-top: 25%;
}

.carnavalmarg {
  margin-left: 13%;
}

.teatromarg {
  margin-left: 22%;
}

.margvid {
  margin-top: 5%;
}

.backmuda {
  background: linear-gradient(to bottom, #E6BE87, #4F3251);
}

.breve {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: auto;
}

.caixinha {
 background-color: #684639d7;
}